@{
    Layout = "_LayoutGuest";
}

<style>

  body {
    background-color: #EBF5FB;
    }
</style>


@{var get = ViewBag;
  var getbooked = ViewBag.RoomBooked;
  var status = ViewBag.Status;
  if(status == "filter"){
    Console.WriteLine("masuk sini ga");
    var dt = ViewBag.Date;
    var date = dt.ToString("dd MMMM yyyy");
    get = ViewBag.RoomFilter;
    <p>Room Available on</p>
    <p>@date</p>
    <input type="hidden" value="@dt" id="tanggal">
  }
  else if(status != "filter"){
    get = ViewBag.Room;
  }
}
<br><br>
        <h2 class="text-center" style="color:#FF5693; font-size:33px">Room List</h2>
<br><br><form method="POST">
   <div class="form-group">
      <div class="text-left">
        <input type="date" name="date">
        <button asp-action="Available" asp-controller="Guest" class="btn btn-success">Check Availability</button>          
      </div>
    </div></form>
<table style="background:white; margin-top:5px; padding-left:15px; box-shadow: 1px 1px 10px #5499C7;" class="table table-hover text-left" id="customers">
<thead class="thead-dark">
  <tr>
    <th>Room Number</th>
    <th>Class</th>
    <th>Facilities</th>
    <th>Description</th>
    <th></th>
  </tr>
</thead>
 @{
   if(getbooked.Count == 0){
      foreach (var a in get){
  <tr>
    <td>@a.Number</td>
    <td>@a.Class</td>
    <td>@a.Facilities</td>
    <td>@a.Description</td>
    <td><button  class="btn btn-success" id="btn-@a.Id" onclick="javascript:Book(this)">Book</button></td>
  </tr> 
  }}

  else {
 foreach (var a in get){
   foreach(var b in getbooked){
  if(a.Number != b){
  <tr>
    <td>@a.Number</td>
    <td>@a.Class</td>
    <td>@a.Facilities</td>
    <td>@a.Description</td>
    <td><button  class="btn btn-success" id="btn-@a.Id" onclick="javascript:Book(this)">Book</button></td>
  </tr> }}} }}
</table>

<script type="text/javascript">
function Book(btn)
{
    var get = btn.id;
    var date = document.getElementById("tanggal").value;
    Id = get.substring(4,get.Length);
    location.href='/Guest/BookingForm?Id='+Id;
}

</script>
