@{
    Layout = "_LayoutOfficer";
}

<style>

  body {
    background-color: #EBF5FB;
    }
</style>
@{var get = ViewBag.Room;}
<br><br>
        <h2 class="text-center" style="color:#FF5693; font-size:33px">Room List</h2>
<br><br>
<table style="background:white; margin-top:5px; padding-left:15px; box-shadow: 1px 1px 10px #5499C7;" class="table table-hover text-left" id="customers">
<thead class="thead-dark">
  <tr>
    <th>Room Number</th>
    <th>Class</th>
    <th>Status</th>
    <th>Facilities</th>
    <th>Description</th>
    <th></th>
  </tr>
</thead>
 @{
 foreach (var a in get){
  <tr>
    <td>@a.Number</td>
    <td>@a.Class</td>
    <td>@a.Status</td>
    <td>@a.Facilities</td>
    <td>@a.Description</td>
    <td><form method="POST"><input type="hidden" name="Number" value="@a.Number"> <input type="hidden" name="Id" value="@a.Id"> <button asp-action="AvailableThisMonth" asp-controller="Officer" class="btn btn-success" >Check Available Date</button></form></td>
  </tr> }}
</table>

